body {
  overflow-x: hidden;
}

.btn-panel {
  border-radius: 14px;
  box-shadow: 0px 0px 5px gray;
  padding: 3px 6px;
  width: 28px;
  height: 28px;
  margin: 5px;
}

.btn-panel:active, .btn-panel:focus {
  outline: none;
}

.navbar {
  min-height: 41px !important;
}

.navbar-header {
  margin: 7px 0px !important;
  text-shadow: 0px 0px 2px grey;
  width: 100%;
  white-space: nowrap;
}

.navbar-btn-right {
  float: right;
}
    
#content-panel {
  margin-top: 52px;
}

#left-panel, #right-panel {
  z-index: 1045;
  background-color: #f8f8f8;
  min-height: 100%;
  padding: 0px
}

#left-panel {
  border-top-right-radius: 5px;
  -webkit-box-shadow: 0px 0px 1px;
  -moz-box-shadow: 0px 0px 1px;
  box-shadow: 0px 0px 1px;
}

#left-panel .list-group-item:first-child {
  border-top-left-radius: 0px;
}
  
#left-panel.list-group-item:last-child {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
  
#right-panel {
  border-top-left-radius: 5px;
  -webkit-box-shadow: 0px 0px 1px;
  -moz-box-shadow: 0px 0px 1px;
  box-shadow: 0px 0px 1px;
}

#right-panel.list-group-item:first-child {
  border-top-right-radius: 0px;
}

@media (max-width: 767px) {
  #left-panel {
    position: absolute;
    left: -500px;
    transition: left 300ms ease;
  }
  #right-panel {
    position: absolute;
    right: -500px;
    transition: right 300ms ease;
  }
}

.list-group-divider {
  padding-top: 3px;
  padding-bottom: 0px;
  background-color: #e6e6e6;
}

a.list-group-item-logout {
  color: #ccc;
  background-color: #333;
}
a.list-group-item-logout:hover {
  color: #ddd;
  background-color: #444;
}

.fullpage {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0,0,0,0.5);
  z-index: 2000;
}

.menu-userpoint {
  font-weight: bold;
  color: #3bcd95;
  text-shadow: 1px 1px 1px green;
  display: inline;
}
  
.menu-username {
  color: #891414;
  font-size: 1.3em;
  font-weight: bold;
  text-shadow: 0px 1px 1px #7b5c5c;
}

.well[class*='well-'] {
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
}

.well-login {
  max-width: 330px;
}

.well-user {
  max-width: 450px;
}


.btn-fb {
  color: #fff;
  background-color: #3b5998;
}

.btn-fb:hover, .btn-fb:focus {
    color: #fff;
    background-color:#496ebc 
}

.well-login h3 {
  text-shadow: 1px 1px 2px grey;
  padding-bottom: 10px;
}

.socialSplitter {
  padding-bottom: 17px;
  padding-top: 15px;
}

.socialSplitter span {
  position: absolute;
  left: 50%;
  text-align: center;
  font-weight: bold;
  color: #aaa;
  margin-top: -0.8em;
  background-color: #f5f5f5;
  width: 6em;
  margin-left: -3em;
}

.socialSplitter hr {
  background-color: #cdcdcd;
  margin-bottom: 0px;
  height: 1px;
}

button.btn-controlpanel-two-rows {
  margin-top: 24px;
  width: 100%;
}

button.btn-controlpanel-one-rows {
  width: 100%;
}

div.update-match-result {
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
}

div.update-match-result-input {
  padding-right: 0px;
  width: 80px;
}

div.update-match-result-btn {
  padding-left: 5px;
}

th.match-result {
  width: 155px;
}

div#content {
  margin-top: 60px;
}

textarea[class*='text-'] {
  min-height: 90px;
}

span.code-note {
  padding-left: 10px;
  font-size: 0.7em;
}

div.market-item {
  background-color: #F5F5F5;
  border: 1px solid #bbb;
  margin: 10px;
  box-shadow: 1px 1px 1px #bbb;
  overflow: hidden;
  transition: height .3s linear;
}

div.market-head {
  padding-left: 10px;
  font-weight: bold;
}

.listitem-hide-enter {
  opacity: 0.01;
  transition: opacity .5s ease-in;
}

.listitem-hide-enter.listitem-hide-enter-active {
  opacity: 1;
}

.listitem-hide-leave {
  margin-top: 0px; opacity: 1;
  transition: opacity .2s ease-out, margin-top .2s ease-out .1s;
}

.listitem-hide-leave.listitem-hide-leave-active {
  opacity: 0.01;
}

div.row-odds {
  margin: 0px;
  padding-right: 10px;
}

div.odd-cell {
  padding: 5px 0px 10px 10px;
}

div.odd {
  border: 1px solid #bbb;
  padding-left: 10px;
  background-size: contain;
  /* transition: background-image 0.2s linear; */
}

div.odd.plain {
  background-image: url(../images/price_plain.gif);
}

div.odd.wait {
  background-image: url(../images/price_wait.gif);
}

div.odd.bet {
  background-image: url(../images/price_selected.gif);
  color: #FFF;
}

div.odd.won {
  background-image: url(../images/price_win.gif);
  color: #E9E93F;
}

div.odd.lost {
  background-image: url(../images/price_lost.gif);
  color: #FFF;
}

div.odd-name {
}

div.odd-rate {
}

pre.note {
  font-size: 0.8em;
  overflow: hidden;
}

pre.note.collapsed {
  height: 25px;
}

div.bet-amount {
  float: right;
  margin-top: -1.6em;
  padding-right: 10px;
  font-size: 1.5em;
}

div.match-item {
  border: 1px solid;
  margin-top: 8px;
  background-color: #11365F;
  box-shadow: 1px 1px 1px;
  overflow: hidden;
  transition: height .3s linear;
}

div.match-head {
  font-weight: bold;
  font-size: 1.2em;
  color: #fff;
  padding-left: 10px;
  background-size: contain;
  background-repeat: repeat-x;
  background-image: url(../images/tableDataHeaderBG-push.gif);
}

span.match-head-time {
  font-weight: initial;
  font-size: 0.6em;
  padding-left: 10px;
}

div.matches {
  padding-bottom: 30px;
}

form.form-horizontal.no-margin-bottom {
  margin-bottom: 0px;
}

div.form-group.no-margin-bottom {
  margin-bottom: 0px;
}

div.slip-bet-amount {
  padding: 0px 5px 0px 15px;
}

div.slip-button-save {
  padding: 0px 14px 0px 0px;
}

button.slip-button-save {
  height: 30px;
}

div.slip-button-close {
  float: right;
}

button.slip-button-close {
  padding: 1px 2px 2px 3px;
  border-radius: 10px;
  width: 20px;
  height: 20px;
}

span.slip-button-close {
}

div.slip-item {
  padding: 5px;
  margin-top: 5px;
  box-shadow: 0px 1px 1px #AAA
}

span.slip-match {
  font-weight: bold;
}

span.slip-match-time, div.slip-estimate {
  font-size: 0.8em;
}

span.slip-estimate-number {
  font-weight: bold;
  color: green;
}

div.player-name {
  font-size: 0.8em;
}

input.input-match-result {
  margin-top: -7px;
  margin-bottom: 8px;
}