doctype html
html
  head
    title HC Soccer Betting Game
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(href='css/font-awesome/css/font-awesome.min.css', rel='stylesheet')
    link(rel='stylesheet', href='css/bootstrap.min.css')
    link(rel='stylesheet', href='css/bootstrap-datetimepicker.min.css')
    link(rel='stylesheet', href='css/soccerbet.css')
    script(src='js/jquery-1.11.1.min.js')
    script(src='js/bootstrap.min.js')
    script(src='js/moment-with-locales.min.js')
    script(src='js/bootstrap-datetimepicker.js')
    script(src='js/react-with-addons-0.13.3.min.js')
    script(src='js/app.js')
    script(src='js/fb.js')
    script(src='js/authentication.js')
    if js == "jsx"
      script(src='js/JSXTransformer-0.13.3.js')
    script(type='text/#{js}', src='public/loginform.js')
    script(type='text/#{js}', src='public/navbar.js')
    script(type='text/#{js}', src='public/page.js')
  body
    #page
    #fb-root
    #popup-dialog.modal(tabindex='-1', role='dialog', aria-labelledby='popup-dialog-title')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
            h4#popup-dialog-title.modal-title
          #popup-dialog-content.modal-body
          .modal-footer
            button#popup-dialog-btn1.btn.btn-primary(type='button') Close
            button#popup-dialog-btn2.btn.btn-default.hidden(type='button')
